
body{
  font-family: 'Exo 2', sans-serif;
  background-image: url(./img/b957a6fbbffa5659fb38d4a22f4d4850.jpg);
}
.conteiner{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.controls{
  align-items: center;
  display: flex;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
.controls__input{
  background-color:black;
  color: antiquewhite;
  margin-right: 15px;
  padding: 10px;
  font-size: 30px;
}
.controls__input::placeholder{
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}
.controls__button{
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #f8cf48;
  border-radius: 4%;
  font-size: 20px;
}
.controls__button:hover{
  background-color: #ffd651;
}
.controls__button:active{
  color: #fff;
  background-color: #5e5e5e;
}
.boxes{
  list-style: none;
}
.boxes__element{
 background-color: rgb(37 37 37 / 67%)
}
.boxes__text{
  padding: 10px;
  font-family: 'Exo 2', sans-serif;

  color: aliceblue;
  font-size: 35px;
}
